# Problem Set 2

# Question 1

### This problem set is based on lectures 4,5 and 6. For a complete list of topics please consult page 2 of the course syllabus. Please consult the ‚ÄúInstructions for Problem Set Submissions‚Äù document under course information before submitting your assignment.

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
 
After importing the module into the interpreter, you execute:

 b()

 b()

 b()

 a

What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

#first statement 

1. It calls the function b() wherein global variable 'a' is defined. It become the function c(a) with argument a. 

2. The function c() return the value 2 back to function b() and global variable 'a' has now value 2 b()

#Second statement 

1. It again call the function b() wherein global variable 'a' is defined. However, this time the global variable 'a' has value 2 after first statement

2. It then calls the function c(a) with argument a 

Example Value 2

3. The function c() returns the value 4 (2+2) back to function b() and global variable 'a' has now value 4

#Third statement

1. It calls the function b() where global variable 'a' is defined. Now, this time the global variable 'a' has value 4 after second statement 

2. The function c(a) with argument a Ex. value 4

3. The funtion c(a) returns the value (4+2) back to function b() and global variable 'a' has now value 6

#Final statement

1. The global variable 'a' has the value 6 after respective 1st, 2nd and 3rd statements executed as mention above statement.

2. We execute a, it displays the value 6 as shown below

In [66]:
a = 0
def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b();
b();
b();
a

6

# Question 2

### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

### fileLength('midterm.py')

#### Output 284

### fileLength('idterm.py')

Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
    
### fileLength('midterm.py')

#### Output : 358

### fileLength('idterm.py')

#### Output : File idterm.py not found.

In [42]:
def fileLength(file_name):
    
     try:
         file = open(file_name)
         contents = file.read()
         file.close()
         print(len(contents))
        
     except FileNotFoundError:
         # This will be executed when a FileNotFoundError exception is raised
         print('File {} not found.'.format(file_name)) 
        
a = "mid_term.py";
fileLength(a);

33

In [43]:
a = "id_term.py";
fileLength(a);

File id_term.py not found.

# Question 3

### Write a class named Marsupial that can be used as shown below:

 m = Marsupial()

 m.put_in_pouch('doll')

 m.put_in_pouch('firetruck')

 m.put_in_pouch('kitten')

 m.pouch_contents()
 
#### Output  : ['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:

### a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,


 k = Kangaroo(0,0)
 
 print(k)

#### Output  : I am a Kangaroo located at coordinates (0,0)

### b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis,

 k.put_in_pouch('doll')
 
 k.put_in_pouch('firetruck')
 
 k.put_in_pouch('kitten')
 
 k.pouch_contents()

#### Output : ['doll', 'firetruck', 'kitten']

### c. overloads the __str__ operator so it behaves as shown below.

 k.jump(1,0)
 
 k.jump(1,0)
 
 k.jump(1,0)
 
 print(k)

#### Output : I am a Kangaroo located at coordinates (3,0)

In [44]:
class Marsupial():
    
    def __init__(self):
        self.myList = []
    
    def put_in_pouch(self, item):
        self.myList.append(item)
    
    def pouch_contents(self):
        print(self.myList)

m = Marsupial()
m.put_in_pouch('doll')            
m.put_in_pouch('firetruck')      
m.put_in_pouch('kitten')         
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [45]:
class Kangaroo(Marsupial):
    
    def __init__(self, x=0, y=0):
          Marsupial.__init__(self)
          self.x = x
          self.y = y
        
    def jump(self, dx=0, dy=0):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x, self.y)

k = Kangaroo(0,0)         
print(k)

I am a Kangaroo located at coordinates (0,0)

In [46]:
# Following set of provided set of statements to be executed

k.put_in_pouch('doll')            
k.put_in_pouch('firetruck')       
k.put_in_pouch('kitten')          
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [47]:
# Following set of provided set of statements to be executed

k.jump(1,0)         
k.jump(1,0)        
k.jump(1,0)         
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = ùë•/2     ùëñùëì ùë• ùëñùë† ùëíùë£ùëíùëõ
    3ùë• + 1  ùëñùëì ùë• ùëñùë† ùëúùëëùëë

Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

collatz(1)

1

collatz(10)

10

5

16

8

4

2

1

In [48]:
def collatz(a):
    if (a == 1):        
        print(1)
    
    elif (a < 1):        
        print("enter any positive number")
        
    elif (a % 2 == 0):    
        print(int(a))     
        a = a/2           
        collatz(a)        
        
    else:                 
        print(int(a))     
        a = (a*3) + 1     
        collatz(a)        
            
j = int(input("enter a positive number: "))
collatz(j)

enter a positive number: 10
10
5
16
8
4
2
1

In [49]:
m = int(input("enter a positive number: "))
collatz(m)

enter a positive number: 1
1

# Question 5

### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

 binary(0)
 
0

 binary(1)

1

 binary(3)

11

 binary(9)

1001

In [50]:
def binary(n):
   if n > 1:
       binary(n//2)
   print(n % 2,end = '')
binary(0)

0

In [51]:
binary(1)

1

In [52]:
binary(3)

11

In [53]:
binary(9)

1001

# Question 6

### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

infile = open('w3c.html')

content = infile.read()

infile.close()

hp = HeadingParser()

hp.feed(content)

#### Output:-
W3C Mission
Principles

In [54]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):

    c = 0      
    i = 0     
    
    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.c = 1                     

    def handle_data(self, data):
         if self.c == 1:
            print(data.rjust(len(data) + self.i), end ='\n') 
            
    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9']:
            self.c = 0                    
            self.i +=1   
        
infile = open("w3c.html")  
content = infile.read() 
infile.close() 
hp = HeadingParser() 
hp.feed(content)

W3C Mission
 Principles

# Question 8

### Write SQL queries on the below database table that return:

a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

## Data
City   Country        Season       Temperature (C) Rainfall (mm)
Mumbai India          Winter         24.8              5.9 
Mumbai India          Spring         28.4              16.2 
Mumbai India          Summer         27.9             1549.4 
Mumbai India          Fall           27.6              346.0 
London United Kingdom Winter         4.2               207.7 
London United Kingdom Spring         8.3               169.6 
London United Kingdom Summer         15.7              157.0 
London United Kingdom Fall           10.4              218.5 
Cairo  Egypt          Winter         13.6              16.5 
Cairo  Egypt          Spring         20.7              6.5 
Cairo  Egypt          Summer         27.7              0.1 
Cairo  Egypt          Fall           22.2              4.5

In [55]:
import sqlite3
con = sqlite3.connect('cInfo.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS cityInfo (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO cityInfo VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO cityInfo VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO cityInfo VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

cur.execute('SELECT * FROM cityInfo')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [56]:
cur.execute('SELECT Temperature FROM cityInfo')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [57]:
cur.execute('SELECT DISTINCT(City) FROM cityInfo')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [58]:
cur.execute('SELECT * FROM cityInfo where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [59]:
cur.execute('SELECT * from cityInfo where Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [60]:
cur.execute('SELECT City,Country,Season, AVG(Rainfall) FROM cityInfo GROUP BY City, Country, Season having AVG(Rainfall)>200 and AVG(Rainfall)<400 ')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [61]:
cur.execute('SELECT City, Country, AVG(Temperature) FROM cityInfo where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [62]:
cur.execute('SELECT SUM(Rainfall) FROM cityInfo WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [63]:
cur.execute('SELECT Season, SUM(Rainfall) FROM cityInfo GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

### Suppose list words is defined as follows:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']

### Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [65]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words_upper = [item.upper() for item in words]
print (words_upper)
words_lower = [item.lower() for item in words]
print (words_lower)
word_len = [len(item) for item in words]
print(word_len)
list_of_all = [[x, y , z] for x, y, z in zip(words_upper,words_lower,word_len)]
print (list_of_all)
words_four = []
[words_four.append(item) for item in words if len(item)>=4]
print (words_four)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']